.listButtons:hover{
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    transition-property: all;
    transition-duration: 500ms;
}

@keyframes showDescription {
    from {right: -100%;}
    to {right: 0;}
}

.description{
    animation-name: showDescription;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showMenu {
    from {left: -100%;}
    to {left: 0;}
}

#menu{
    animation-name: showMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}