#home{
    display: flex;
    flex-direction: column;
}

#about{
    display: none;
    flex-direction: column;
}

#skills{
    display: none;
    flex-direction: column;
}

#portfolio{
    display: none;
    flex-direction: column;
}

.descriptionsContainer{
    position: relative;
    height: 100%;
    padding: 100px;
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.descriptionsContainer::-webkit-scrollbar {
    width: 8px;
}
  
.descriptionsContainer::-webkit-scrollbar-track {
    background: #18181A;
}
  
.descriptionsContainer::-webkit-scrollbar-thumb {
    background-color: #2A2827;
    border-radius: 20px;
    border: 2px solid #18181A;
}

.descriptionContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    position: relative;
    right: -100%;
    display: flex;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0 0 3em black;
    color: white;
}

.descriptionHeader, .textLogoColor, .skill{
    color: #00EDE3;
}

.descriptionHeader{
    margin-bottom: 30px;
}


#contactList{
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-self:center ;
    justify-content:space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactImage{
    height: 50px;
    width: 50px;
}

#profilePicture{
    width: 30%;
    margin-bottom: 50px;
}

.descriptionsContainer{
    font-family: 'concert one', Tahoma, sans-serif;
}

.descriptionParagraph, #descriptionFooter{
    text-indent: 50px;
    text-align: justify;
    font-family: 'Verdana', Tahoma, sans-serif;
}

#descriptionFooter{
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.7rem;
}

#skillList{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillImage{
    height: 100px;
    width: 100px;
    float: left;
}

.portfolioItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
    border-bottom: solid 2px #007e77;
}

.portfolioItemImage{
    height: 200px;
    min-width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
    text-align: center;
}