#home{
    display: flex;
    flex-direction: column;
}

#about{
    display: none;
    flex-direction: column;
}

#skills{
    display: none;
    flex-direction: column;
}

#portfolio{
    display: none;
    flex-direction: column;
}

#contacts{
    display: none;
    flex-direction: column;
}

.descriptionsContainer{
    position: relative;

    height: 100%;
    padding: 100px;
    padding-right: 0;

    overflow: auto;
}

.descriptionsContainer::-webkit-scrollbar {
    width: 8px;
}
  
.descriptionsContainer::-webkit-scrollbar-track {
    background: #18181A;
}
  
.descriptionsContainer::-webkit-scrollbar-thumb {
    background-color: #2A2827;
    border-radius: 20px;
    border: 2px solid #18181A;
}

.description{
    position: absolute;
    right: 0;
    margin-left: 150px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0 0 3em black;
    color: white;
    backdrop-filter: blur(5px);
}

.descriptionHeader, .spanParagraph, .skill{
    color: #00EDE3;
}

#profilePicture{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-right: 20px;

    float: left;
}

.descriptionsContainer{
    font-family: 'concert one', Tahoma, sans-serif;
}

.descriptionParagraph, #descriptionFooter{
    text-indent: 50px;
    text-align: justify;
    font-family: 'Verdana', Tahoma, sans-serif;
}

#descriptionFooter{
    display: flex;
    flex-direction: row-reverse;
}

#skillList{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillImage{
    height: 100px;
    width: 100px;
    float: left;
}

#instagramIcon { grid-area: inst; }
#linkedinIcon { grid-area: link; }
#twitterIcon { grid-area: twit; }
#gmailIcon { grid-area: mail; }
#whatsappIcon { grid-area: wpp; }

#contactList{
    padding: 30px;
    display: grid;
    grid-template-areas:
    'inst inst link link twit twit'
    'mail mail mail mail mail mail'
    'wpp wpp wpp wpp wpp wpp';
    gap: 30px;
}
.contactImage{
    height: 50px;
    width: 50px;
}