#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #07121F;
    border-top: solid 1px #007e77;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contactList{
    width: 200px;
    display: flex;
    justify-content:space-evenly;
}

.contactImage{
    height: 40px;
    width: 40px;
}

.footerText{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
    color: white;
    font-size: 0.7rem;
    font-style: italic;
}

.footerTextReference{
    text-decoration: none;
    color: #007e77;
}

.footerTextReference:hover{
    color: #00EDE3; 
}