@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
    position: relative;
}

body{
    height: 100vh;
    background-image: url("../images/backGround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 15px;
}
  
body::-webkit-scrollbar-track {
    background: #2A2827;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #18181A;
    border-radius: 20px;
    border: 5px solid #2A2827;
}

a{
    text-decoration: none;
}

.textLogoColor{
    color: #00EDE3;
}

.externalLinks{

    color: #00EDE3;
}

.externalLinks:hover{
    color: #007e77; 
}