#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: -100%;
    align-items: center;
    float: left;
    height: 100%;
    min-width: 180px;
    font-family: 'concert one', Tahoma, sans-serif;
    box-sizing: border-box;
}

#logoMenu, #menuButtonsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoButton{
    background: none;
    border: none;
}
.menuButton{
    color: #00EDE3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: none;
    font-size: 1.5rem;
}

.logoMenuImage{
    width: 100px;
}
