#menu{
    display: grid;

    align-items: center;
    float: left;
    height: 100%;
    width: 15vw;
    min-width: 180px;
    font-family: 'concert one', Tahoma, sans-serif;
    background-color: hsla(212, 64%, 33%, 0.10);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-right: solid 2px rgba(255, 255, 255, 0.2);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

#logoMenu, #menuButtonsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoButton{
    background: none;
    border: none;
}
.menuButton{
    color: #00EDE3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: none;
    font-size: 1.5rem;
}

.listButtons:hover{
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
}

