#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: -100%;
    align-items: center;
    float: left;
    height: calc(100vh - 80px);
    min-width: 180px;
    font-family: 'concert one', Tahoma, sans-serif;
    box-sizing: border-box;
}

#logoMenu, #menuButtonsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expandMenuButton{
    cursor: pointer;
    display: none;
    padding: 20px;
}

.menuButton{
    cursor: pointer;
    color: #00EDE3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: none;
    font-size: 1.5rem;
}

.logoMenuImage{
    width: 100px;
}
