@media (max-width: 850px) {

    #menu{
        position: fixed;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        align-items: flex-start;
        align-items: center;
        flex-direction: row;
        border-bottom: solid 1px #007e77;
        padding: 10px;
        background-color: #07121f;
        z-index: 1;
    }

    
    .logoMenuImage{
        height: 50px;
        width: 50px;
    }
    
    #expandMenuButton{
        display: flex;
        height: 70px;
    }

    #menuButtonsSection{
        display: none;
        width: 100%;
        
        overflow: auto;
        background-color: hsla(213, 63%, 7%, 0.5);
        backdrop-filter: blur(5px);
        position: absolute;
        right: 0;
        top: 70px;
    }

    .description{
        font-size: 0.8rem;
    }
    .descriptionsContainer{
        padding-left: 10px;
        font-size: 0.8rem;
    }

    .descriptionHeader{
        margin-left: 0;
        align-self: center;
    }

    #profilePicture{
        width: 50%;
    }

    .descriptionTitle{
        text-align: center;
    }

    .skillImage{
        height: 80px;
        width: 80px;
    }

    .footerText{
        font-size: 0.49rem;
    }

    .portfolioItemImage{
        height: 160px;
        min-width: 320px;
    }
}

@media (max-width: 450px) {

    #profilePicture{
        width: 70%;
    }
    
    .skillImage{
        height: 60px;
        width: 60px;
    }

    .portfolioItemImage{
        min-width: 0;
    }

    #footer{
        display: hidden;
        justify-content: space-evenly;
    }
}

