#inicio{
    display: hidden;
}

#sobre{
    display: none;
}

#habilidades{
    display: none;
}

#portifolio{
    display: none;
}

#contatos{
    display: none;
}

.descricao{
    position: relative;

    height: 100%;
    padding: 100px;
    padding-right: 0;

    overflow: auto;
    
    background-image: url("../imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerDescricao{
    position: absolute;
    right: 0;
    max-width: 700px;
    margin-left: 150px;
    padding: 50px;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0 0 3em black;
    color: white;
    backdrop-filter: blur(5px);
}

.headerDescricao{
    font-size: 30px;
}

#perfilDescricao{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-right: 20px;

    float: left;
}

.paragrafoDescricao{
    text-indent: 50px;
    text-align: justify;
}

.habilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#habilidadesLista{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.habilidadeImagem{
    height: 100px;
    width: 100px;
    float: left;
}

#inst { grid-area: inst; }
#link { grid-area: link; }
#twit { grid-area: twit; }
#mail { grid-area: mail; }
#wpp { grid-area: wpp; }

#contatosLista{
    padding: 30px;
    display: grid;
    grid-template-areas:
    'inst inst link link twit twit'
    'mail mail mail mail mail mail'
    'wpp wpp wpp wpp wpp wpp';
    gap: 30px;
}
.contatoImagem{
    height: 50px;
    width: 50px;
}

.descricao::-webkit-scrollbar {
    width: 8px;
}
  
.descricao::-webkit-scrollbar-track {
    background: #18181A;
}
  
.descricao::-webkit-scrollbar-thumb {
    background-color: #2A2827;
    border-radius: 20px;
    border: 2px solid #18181A;
}