#menu{
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 15vw;
    min-width: 150px;
    color: white;
    background-image: linear-gradient(to bottom right, #020605, #222425);
    box-sizing: border-box;
    border-right: solid 1px #32312F;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

#headerMenu, #sectionMenu{
    display: flex;
    flex-direction: column;
}

#headerMenu{
    font-size: 25px;
    padding: 10px;
    border-bottom: solid 1px #32312F;
}

.buttonMenu{
    color: white;
    border: none;
    min-width: 100px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    background: none;
}

